<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Login Page</h1>
    <br>

    <form action="" method="post">
                 {% csrf_token %}
                  <input type="text" name="username" placeholder="Your Username">
                  <input type="password" name="password" placeholder="Your Password">
                  <input type="submit" value="submit">

    </form>
    <br>
    
    <a href="registration/">Registration </a>

</body>
</html>